
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1210px
}



/* ______________________F O N T S_______________________ */

/* #region FONTS */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* l {
  font-family: "Jost", sans-serif;
} */


/* #endregion FONTS */




/* _____________________H E A D E R______________________ */

/* #region HEADER */

header {
  height: 120px;
}

.row-header {
  justify-content: space-between;
  align-items: center;
  height: 120px;
  gap: 10px;
}

.ul-flex {
  gap: 48px;
  height: 25px;
}

.ul-flex a {
  color: #292F36;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.ul-flex a:hover {
  color: #C76904;
}

.ul-flex .actiev {
  color: #C76904;
  font-size: 22px;
}

header form {
  width: 100%;
  max-width: 240px;
  height: 45px;
  position: relative;
  z-index: 0;
}

header form input{
  padding: 15px;
  width: 100%;
  max-width: 240px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #4D5053;
  background: transparent;
}

header form svg {
  position: absolute;
  left: 16px;
  top: 11px;
  z-index: 4;
}


.offcanvas-header .btn-close {
  margin: 0;
}

#offcanvasRight {
  width: 320px;
}

.offcanvas-body,
.offcanvas-header {
  padding: 20px 45px;
}

.offcanvas-header {
  padding: 20px 40px;
}

.nav-2 ul {
  flex-direction: column;
  margin-top: 40px;
}

header .btn-primary,
header .btn-primary:hover,
:not(.btn-check) + .btn:active {
  background: transparent;
  border: 0 transparent;
  padding: 0;
}

header .btn-primary,
#offcanvasRigh {
  display: none;
}

@media (max-width: 767px) {

  header .form-1,
  header .nav-1 {
    display: none;
  }

  header .btn-primary,
  #offcanvasRigh {
    display: block;
  }

}

/* #endregion HEADER */




/* _______________________H E R O________________________ */

/* #region HERO */

.hero-section {
  position: relative;
  background-color: #FFF;
  z-index: 2;
}

.hero-section .container {
  position: relative;
  overflow: hidden;
}

.hero-section .container img{
  width: 100%;
}

.text-hero {
  position: absolute;
  top: 20%;
  left: 15%;
  right: 15%;
  z-index: 5;
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.text-hero h1 {
  max-width: 690px;
  font-family: "DM Serif Display";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%
}

.text-hero p {
  max-width: 470px;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.text-hero a {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  width: 272px;
  display: flex;
  padding: 26px 49px 26px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #CDA274;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}




@media (max-width: 810px) {

  .text-hero h1 {
    font-size: 32px;
  }
  
  .text-hero p {
    font-size: 12px;
  }

  .text-hero a {
    height: 46px;
    padding: 16px 32px;
  }
  
}

@media (max-width: 540px) {

  .text-hero{
    top: 10%;
    left: 10%;
    right: 10%;
  }

}

@media (max-width: 440px) {

  .text-hero h1 {
    font-size: 25px;
  }

  .text-hero{
    top: 5%;
    left: 5%;
    right: 5%;
  }

}

@media (min-width: 540px) {

  .hero-section {
    margin-top: 100px;
  }

}

/* #endregion HERO */




/* _______________________w h a t________________________ */

/* #region what */

.section-what {
  padding: 180px 0;
  position: relative;
  background-color: #FFF;
  z-index: 2;
}

.section-what .row,
.section-result .row {
  align-items: center;
  row-gap: 50px;
}

.section-what .row .col-xl-7 img,
.section-result .row .col-xl-7 img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}



.section-what .item-text-what, 
.section-result .item-text-result {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-what .item-text-what h3, 
.section-result .item-text-result h3 {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}

.section-what .item-text-what p, 
.section-result .item-text-result p {
  max-width: 490px;
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.section-what .item-text-what a, 
.section-result .item-text-result a {
  color: #FFF;
  text-align: center;
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.36px;
  margin-right: auto;
  display: flex;
  padding: 26px 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}

.section-result .img-2 {
  display: none;
}

@media (max-width: 1200px) {

  .section-what .item-text-what,
  .section-result .item-text-result {
    align-items: center;
    text-align: center;
  }

  .section-what .item-text-what a, 
  .section-result .item-text-result a {
    margin-left: auto;
    margin-right: auto;
  }

  .section-result .img-1 {
    display: none;
  }

  .section-result .img-2 {
    display: block;
  }

}

@media (max-width: 1080px) {



}


/* #endregion what */




/* _______________________articles_______________________ */

/* #region articles */

.section-articles {
  padding-top: 180px;
  padding-bottom: 120px;
}

.section-articles .row {
  justify-content: center;
  row-gap: 30px;
}

.section-articles article {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 387.333px;
  padding: 21px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: all 0.3s;
}

.section-articles article:hover {
  background: #F4F0EC;
}

.section-articles article .text-article .d-flex svg circle,
.section-articles article .text-article .d-flex svg path {
  transition: all 0.2s;
}

.section-articles article:hover .text-article .d-flex svg circle,
.section-articles article:hover .text-article .d-flex svg path {
  fill: #C76904;
}

.img-article {
  position: relative;
  border-radius: 45px 45px 0px 0px;
  overflow: hidden;
  max-width: 340px;
  height: 290px;
  z-index: 0;
}

.img-article img {
  width: 100%;
  height: 290px;
}

.img-article .label {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
}

.img-article .label h6 {
  position: absolute;
  z-index: 3;
  bottom: 8px;
  left: 8px;
  color: #FFF;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.text-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.text-article h4 {
  display: flex;
  max-width: 305px;
  height: 70px;
  justify-content: center;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}

.text-article .d-flex {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.text-article .d-flex p {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}






@media (max-width: 1278px) {



}

@media (max-width: 770px) {



}

/* #endregion articles */




/* _______________________w a n n a_______________________ */

/* #region wanna */

.section-wanna {
  background-image: url(../img/Rectangle\ 10.png);
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
}

.item-wanna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 430px;
}

.item-wanna h2 {
  color: #FFF;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.item-wanna p {
  margin-top: 11px;
  color: #FFF;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-bottom: 32px;
}

.item-wanna a {
  color: #FFF;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  display: flex;
  padding: 26px 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #CDA274;
  box-shadow: 0px 10px 20px 0px #1F2022;
}

/* #endregion wanna */




/* _______________________F O O T E R____________________ */

/* #region FOOTER */


/* #region TOP-FOOTER */

.top-footer {
  margin-top: 90px;
}

.top-footer .d-flex {
  justify-content: space-between;
  gap: 60px 15px;
  flex-wrap: wrap;
}

.top-footer .div-1{
  gap: 54px;
}

.top-footer .div-1 p {
  margin-top: 18px;
  max-width: 393px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-bottom: 31px;
}

.top-footer .div-1 .d-flex {
  gap: 50px;
  flex-direction: row;
}

.top-footer .div-2 h3 {
  color: #000;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 50px;
}

.top-footer .div-2 .d-flex {
  flex-direction: column;
  gap: 30px;
}

.top-footer .div-2 .d-flex li a {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.top-footer .div-2 .d-flex a:hover {
  color: #000;
}

.top-footer .div-4 h3 {
  color: #000;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 50px;
}

.top-footer .div-4 .d-flex {
  flex-direction: column;
  gap: 30px;
}

.top-footer .div-4 .d-flex li {
  max-width: 258px;
}

.top-footer .div-4 .d-flex li a {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.top-footer .div-4 .d-flex a:hover {
  color: #000;
}




@media (max-width: 1185px) {



}

@media (max-width: 500px) {

  .top-footer .d-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

/* #endregion TOP-FOOTER */



/* #region Bottom-FOOTER */

.bottom-footer {
  margin-top: 53px;
  margin-bottom: 90px;
}

.bottom-footer p {
  color: #4D5053;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

/* #endregion Bottom-FOOTER */


/* #endregion FOOTER */




/* #region Keyboard */

.Keyboard-Double-Arrow-Up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}

.Keyboard-Double-Arrow-Up a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.Keyboard-Double-Arrow-Up a:hover {
  border: 2px solid #D8A876;
}

.Keyboard-Double-Arrow-Up a svg path {
  fill: #000;
  transition: all 0.3s;
}

.Keyboard-Double-Arrow-Up a:hover svg path {
  fill: #D8A876;
}

/* #endregion Keyboard */
